#!/usr/bin/make -f

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	dh_auto_build -- -ldflags "-s -w"

override_dh_auto_install:
	dh_auto_install
	# Install binary to the correct location
	mkdir -p debian/hugo-link-checker/usr/bin
	cp _build/bin/hugo-link-checker debian/hugo-link-checker/usr/bin/

override_dh_auto_test:
	# Skip tests during package build to avoid network dependencies
	# dh_auto_test
